main#visualizar-processo-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

    .tabs__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        .bloco--complementar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;

            button {
                outline: none;
                border: none;
                background-color: transparent;
            }
        }

        .documento {
            width: 100%;

            &__solicitar {
                width: 100%;
                display: flex;
                background-color: #F1F1F2;
                padding: .5rem;
                border-radius: 3rem;
                margin-bottom: 1.5rem;

                &--button {
                    background-color: #00145f;
                    text-transform: uppercase;
                    outline: none;
                    border: none;
                    padding: .5rem 1.5rem;
                    border-radius: 3rem;
                    color: #ffffff;
                    margin-left: 1.5rem;
                }
            }

            &__item {
                width: 100%;
            }

            &__solicitado {
                margin-top: 1.5rem;
                padding: 1.2rem;
                border: 1px dashed #00145F;
                width: 100%;
                border-radius: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #00145F;
                font-weight: 500;
                position: relative;

                .excluir-documento__button {
                    background-color: transparent;
                    outline: none;
                    border: none;
                    position: absolute;
                    right: 1rem;

                    i {
                        font-size: 2rem;
                        color: #a7052e;
                    }
                }
            }

            &__info {
                margin-left: 1.5rem;

                p {
                    margin-bottom: 0;
                }

                &-section {
                    display: flex;
                    align-items: center;
                    margin-top: 1rem;

                    i {
                        font-size: 2rem;
                    }

                    &:nth-of-type(2) {
                        margin-top: 1rem;
                    }

                    .assinado {
                        color: #50CD89;
                    }

                    .nao-assinado {
                        color: #FFC700;
                    }
                }
            }

            &__icone {
                font-size: 2rem;

                &--download {
                    color: #00145F;
                }

                &--reset {
                    color: #a7052e;
                    margin-left: 1rem;
                }
            }

            &__nome {
                margin-left: 1rem;
                margin-bottom: 0;
            }

            &__enviado {
                padding: 1.2rem;
                border: .5px solid #767676;
                margin-top: 1rem;
                border-radius: 1rem;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
            }

            &__detalhes {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 80%;

                i {
                    font-size: 2rem;
                }
            }

            &__acoes {
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                button {
                    outline: none;
                    border: none;
                    background-color: transparent;
                }


            }
        }
    }

    .alerta {
        margin-bottom: 1rem;
        border: none;
    }

    .bloco {
        display: block;
        width: 49%;
        margin-bottom: 1.5rem;

        &__atributo {
            display: block;
            font-weight: 600;
        }

        &__atributo--preenchido {
            display: block;
        }
    }

    .status {
        width: 100%;
        text-align: center;
        text-align-last: center;

        label {
            font-weight: 600;
        }
    }

    .table {
        width: 100%;
        text-align: center;
        vertical-align: middle;

        thead {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            text-transform: uppercase;
            font-weight: 500;
        }

        td {
            padding: 1rem 0;
            color: rgba(0, 0, 0, 0.7);
        }
    }

    .socios--vazio {
        width: 100%;
        display: block;
        text-align: center;
    }

    .excluir-dado {
        i {
            font-size: 2rem;
            vertical-align: middle;
            color: #a7052e;
        }
    }
}