main#colaborador-home-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

    .link {
        color: #0B36A7;
        font-weight: bold;
    }

    .primary-button {
        margin: 0 0 1.5rem;
    }

    .alerta {
        margin-bottom: 1.5rem;
    }

    .table {
        width: 100%;
        text-align: center;
        vertical-align: middle;

        thead {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            text-transform: uppercase;
            font-weight: 500;
        }

        .status {
            padding: .5rem 1rem;
            border-radius: 2rem;
            text-transform: uppercase;
            font-size: .9rem;
            font-weight: 500;

            &--WAITING {
                background-color: #F0F5FF;
                color: #00145F;
            }

            &--PAID,
            &--CONFIRMADA {
                background-color: #E8FFF3;
                color: #0c4e2b;
                font-weight: bold;
            }

            &--CANCELED,
            &--CANCELADA {
                background-color: #fff5f8;
                color: #a7052e;
                font-weight: bold;
            }
        }

        .acao {
            outline: none;
            border: none;
            background-color: transparent;

            &__icone {
                font-size: 1.8rem;
                margin: 0 .75rem;
            }

            &--editar {
                color: #00145f;
            }

            &--excluir {
                color: #a7052e;
                font-weight: bold;
            }
        }

        td {
            padding: 1rem 0;
            color: rgba(0, 0, 0, 0.7);
        }
    }
}