main#doar-view {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #ffffff;

    .formulario-pagamento {
        width: 100%;
        max-width: 1100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 5rem 0;

        &__opcoes {
            width: 45%;
            background-size: 100% 100%;
            padding: 2rem;
            border-radius: 1.5rem;
            border: .5px solid #00145f;

            legend {
                color: #00145f;
                text-transform: uppercase;
                text-align: center;
                font-size: 1.1rem;
                font-weight: 500;
                background-color: #F0F5FF;
                padding: .75rem;
                border-radius: 2rem;
                margin-bottom: 2rem;
            }

            .checkbox {
                display: flex;
                flex-direction: row;
                margin-bottom: 2rem;
            }

            .checkbox input[type=checkbox] {
                margin-right: 1rem;
            }

            .checkbox__info {
                display: flex;
                flex-direction: column;
            }

            .checkbox__valor {
                color: #00145f;
                font-weight: 500;
            }

            .checkbox__descricao {
                color: rgba(118, 118, 118, 0.80);
                ;
            }
        }

        &__valor-final,
        &__texto-valor {
            color: #00145f;
            text-transform: uppercase;
            font-weight: 600;
        }

        &__resumo {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 2rem 0 1.2rem;
        }

        &__dados-bancarios {
            width: 45%;
        }

        .primary-button {
            margin-top: 0;
        }

        .safe {
            i {
                font-size: 1.5rem;
                vertical-align: middle;
            }
        }
    }

    .valor-personalizado {
        margin-left: 2rem;
        background-color: #F1F1F2;
        line-height: 1.5;
        padding: .25rem .5rem;
        border-radius: .5rem;
        border: none;
        outline: none;
    }

    label[for=opcaoPersonalizada].checkbox {
        margin-bottom: .5rem;
    }

    .pix {
        width: 100%;

        #pix__qrcode {
            width: 40%;
            margin: 1rem auto 0;
            display: block;
        }

        #pix__copiar {
            margin-top: 1rem;
        }

        p {
            text-align: center;
            margin-top: 1rem;

            i {
                font-size: 2rem;
                vertical-align: middle;
                margin-right: .5rem;
                color: #36b4aa;
            }
        }
    }
}