main#hub-acoes-view {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

    .container__carrossel {
        display: flex;
        width: 100%;
        position: relative;
        margin-top: 2rem;
    }

    .carousel__conteudoSlide {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 30rem;
        justify-content: center;
        align-items: flex-start;
        background-repeat: no-repeat;
        overflow: hidden;
        border-radius: 2rem;
    }

    .carousel__item {
        width: 100%;
        height: 100%;
        background-color: #00145F;
        color: var(--vc-clr-white);
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
        font-size: 1.2rem;
    }

    .carousel__conteudoSlide p {
        color: white;
        text-align: left;
        margin: 1rem 0;
    }

    .carousel__conteudoSlide h3 {
        font-weight: 600;
        opacity: 1;
        color: white;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }

    button {
        border: none;
    }

    .carrossel__botoes {
        display: flex;
        width: 100%;
        position: absolute;
        align-items: center;
        justify-content: space-between;
        z-index: 3;
        pointer-events: none;
        top: 50%;
        transform: translateY(-50%);
    }

    .carrossel__botoes button {
        pointer-events: auto;
        background-color: #ffffff;
        padding: 1rem;
        border-radius: 50%;
        box-shadow: 0px 0px 5rem 1rem rgba(0, 0, 0, 0.50);
    }

    .botao__next {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        box-shadow: none;
        margin-left: 3rem;

        i {
            font-size: 2rem;
        }
    }

    .botao__prev {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        box-shadow: none;
        margin-right: 3rem;

        i {
            font-size: 2rem;
        }
    }

    .slide__image {
        position: relative;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .bg__overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.55);
    }

    .slide__info {
        padding: 2rem 3.5rem;
        z-index: 5;
        position: absolute;
        text-align: left;

        a {
            display: block;
            background-color: #FFD862;
            width: 15rem;
            padding: .5rem 1.5rem;
            color: #00145F;
            border-radius: 5rem;
            border: none;
            text-transform: uppercase;
            text-align: center;
            font-weight: 500;
            font-size: 1.25rem;
            text-decoration: none;
        }
    }

    img {
        width: 70%;
        color: white;
    }

    .carousel__viewport {
        overflow: hidden;
        width: 100%;
    }

    .carousel__slide {
        scroll-snap-stop: auto;
        flex-shrink: 0;
        margin: 0;
        height: 100%;
        padding: 0.5rem;
        position: relative;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateZ(0);
    }

    .block__voluntariado {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
        color: #00145F;
    }

    .block__cardsvoluntariado {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1100px;
    }

    .p__souvoluntario {
        margin: 2rem 0 0;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .card__Voluntariado {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        padding: 0.85rem;
        margin: 3rem 1.5rem 0;
        border-radius: 1rem;
        border-top: 1rem solid #00145F;
        background: #FFF;
        box-shadow: 0px 0px 100px 5px rgba(0, 0, 0, 0.10);

    }

    .card__titulo {
        margin-top: 0.85rem;
        margin-bottom: 0.75rem;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }

    .card__descricao {
        text-align: center;
        margin-bottom: 1.5rem;
        color: #000000;
    }

    .card__Voluntariado .cta-btn {
        background-color: #FFD862;
        width: 90%;
        padding: .75rem;
        color: #00145F;
        border-radius: 5rem;
        border: none;
        font-weight: 600;
        text-transform: uppercase;
    }

    .card__Voluntariado img {
        width: 100%;
        height: 8rem;
        border-radius: 1rem;
        background-repeat: no-repeat;
        object-fit: cover;
    }

    .carousel__prev,
    .carousel__next {
        box-sizing: content-box;
        border: 5px solid white;
    }

    .carousel {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    .carousel * {
        box-sizing: border-box;

    }

    .btn {
        padding: 5px 10px;
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid transparent;
        margin: 5px 10px;
        color: #FFF;
        height: 50px;
        width: 50px;
        position: absolute;
        margin-top: -25px;
        z-index: 2;
    }

    .btn:hover {
        cursor: pointer;
    }

    .btn:focus {
        outline: none;
    }

    .btn-next {
        top: 50%;
        right: 0;
    }

    .btn-prev {
        top: 50%;
        left: 0;
    }

    .carousel-slider {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}