@import '../variaveis.scss';

main#editar-indicacao-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

    .indicacao,
    .alinhamento,
    .status {
        padding: 1.5rem 1.5rem .75rem;
        border: 1px solid $borda-cinza;
        margin: 1rem 0 1rem;
        border-radius: 1rem;
        position: relative;

        &:first-of-type,
        &:nth-of-type(2) {
            margin-bottom: 2.5rem;
        }
    }

    .bloco {
        display: block;
        text-align: justify;
        margin-bottom: 1.5rem;

        &__atributo {
            display: block;
            font-weight: 600;
        }

        &__atributo--preenchido {
            display: block;
        }
    }

    .section__title {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        position: absolute;
        top: -1rem;
        left: 1rem;
        background-color: $branco;
        width: max-content;
        padding: 0 .5rem;
    }

    .acao {
        .form-input-label {
            text-align: center;
            display: block;
        }

        .form-input {
            text-align: center;
        }
    }

    .carregando__message {
        text-align: center;
        padding: 1rem 0;
        margin-bottom: 0;
    }

    .formulario-cadastro {
        margin-left: 2rem;
        margin-top: 2rem;
        border-left: 5px solid #00145F;
        padding-left: 1rem;
    }
}