.tabs {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    list-style-type: none;
    padding: 0;
    border: 1px solid rgba(118, 118, 118, 0.20);
    border-radius: 1.5rem;
    padding: .75rem;

}

.tabs__item {
    width: 100%;
    margin: auto .5rem;
}

.tabs__item button {
    background-color: #ffffff;
    color: #00145f;
    border: none;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 3rem;
}

.tabs__item button.active {
    background-color: #F0F5FF;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.form-row .form-input {
    width: 49%;
}

textarea.form-input__item {
    width: 100%;
    display: block;
    background: #F1F1F2;
    border: none;
    padding: .75rem 1rem;
    border-radius: 1rem;
    height: 6rem;
}