.table {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.table thead {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    font-weight: 500;
}

.table td {
    padding: 1rem 0;
    color: rgba(0, 0, 0, 0.7);
}

.botao-acoes {
    outline: none;
    border: none;
    background-color: transparent;
}

.status {
    padding: .5rem 1rem;
    border-radius: 2rem;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 500;
}

.status--aberto {
    background-color: #F0F5FF;
    color: #00145F;
}

.status--pendente {
    background-color: #FFF8DD;
    color: #FFC700;
}

.status--aprovado {
    background-color: #E8FFF3;
    color: #50CD89;
}

.acoes__item {
    font-size: 1.8rem;
    margin: 0 .75rem;
}

.acoes__item.bi-trash2 {
    color: #ff6c6d;
}

.acoes__item.bi-info-circle-fill {
    color: #00145f;
}