main#compliance {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}

/* Estilos para o menu de navegação */
.navbar__ong {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: groove;
    border-width: 0.03rem;
    border-color: rgb(209, 224, 238);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.botao__mudar-tab {
    width: 16rem;
    height: 4rem;
    color: #00145F;
    background-color: white;
    border-top-right-radius: 0 0 1.5rem;
    border-color: white;
    border-style: hidden;
    border-radius: 1.5rem;
    transform: 1s;
    transition: background-color 0.3s ease;
    transition: all 0.2s ease;
}

.botao__mudar-tab:hover {
    background-color: #F0F5FF;
    font-weight: bold;
}

.botao__mudar-tab--Selecionado{
    width: 16rem;
    height: 4rem;
    color: #00145F;
    font-weight: bold;
    background-color: #F0F5FF;
    border-top-right-radius: 0 0 1.5rem;
    border-color: white;
    border-style: hidden;
    border-radius: 1.5rem;
    transform: 1s;
    transition: background-color 0.3s ease;
    transition: all 0.2s ease;
}
