main#compliance {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}

/* Estilos para o menu de navegação */
.navbar__ong {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: groove;
    border-width: 0.03rem;
    border-color: #ddd;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    padding: .5rem;
}

.botao__mudar-tab {
    display: block;
    background-color: #fff;
    width: 65%;
    color: #003475;
    padding: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    margin: .5rem;
}

.botao__mudar-tab:hover {
    background-color: #ebe9e9;
    color: #003475;
}

.botao__mudar-tab--Selecionado{
    display: block;
    background-color: #003475;
    width: 65%;
    color: #fff;
    padding: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    margin: .5rem;
}
